@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


/* Body */ 
#content {
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}

.logo {
    border-radius: 150%;
    width: 100px;
    height: 100px;
}

/* Header */
header {
    background-color: #386641;
    display: grid;
    grid-template-columns: 100px auto;
    border: 5px solid #6a994e;
    border-radius: 10px;
}
nav {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

nav, a {
    text-align: center;
    color: white;
    padding: 0px .75em;
    line-height: 5px;
    font-family: 'Lato', serif;
    font-size: 1em;
    text-decoration: none;
    padding: 35px;

}

nav a:hover {
    background-color: #a7c957;
    color: black;
    border-radius: 50px;
}

/* Main */


/* Footer */
footer {
    margin-top: 20px auto;
    background-color: #386641;
    color: white;
    padding: 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    border: 5px solid #6a994e;
}

@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
}